@function grid-margin($numCols, $col: 54, $gutter: 30) {
  /** The grid-margin function makes it easier to
      set only the margin property when working with a grid

      It takes the amount of columns you want, followed by
      the size of a column (default: 54) and
      the size of a gutter (default 30)

      margin-right: grid-margin(5);
      => margin-right: 420px

      margin-right: grid-margin(5, 10, 2)
      => margin-right: 60px;

  */

    @return #{($numCols * $col) + ($numCols * $gutter)}px;
}