@function grid-width($numCols, $col: 54, $gutter: 30) {
    /** The grid-width function makes it easier to
        set only the width property when working with a grid

        It takes the amount of columns you want, followed by
        the size of a column (default: 54) and
        the size of a gutter (default 30)

        width: grid-width(5);
        => width: 390px

        width: grid-width(5, 10, 2)
        => width: 58px;

    */

    @return #{($numCols * $col) + (($numCols - 1) * $gutter)}px;
}